:root{
    --silver: #BBBBBB;
    --orange: #f7551a;
    --black: #000000;
}

.header{
    background-color: var(--silver);
}

.box-menu{
    position: relative;
    width: 940px; /*Padrão da internet, para atender as varias telas de Desktop*/
    margin: 0 auto; /*Tecnica para alinhar uma div ao centro*/
    padding: 20px 0;
}

.menu{
    position: absolute; /*Quando precisa colocar um elemento em um ponto especifico ele deve ficar como absolute e ter uma tag pai position relative, caso não haja ele ficara relativo a pagina.*/
    top: 110px;
    right: 0;
}

.menu .menu-items{
    display: inline;
    margin: 0 0 0 15px;
}

.menu a {
    text-transform: uppercase;
    color: var(--black);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.menu a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.products{
    width: 940px;
    margin: 20px auto;
    padding: 50px;
}

/*products li*/
.list-items-products{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
}

.list-items-products:hover {
    border-color: #C78C19;
}

.list-items-products:hover h2 {
    font-size: 34px;
}

.list-items-products:active{
    border-color:green;
}

.headline-products{
    font-size: 30px;
    font-weight: bold;
}

.paragrafh-description{
    font-size: 18px;
}

.paragrafh-price{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

footer{
    text-align: center;
    background: url('/assets/img/products/bg.jpg');
}

footer p{
    color: #FFF;
    margin: 20px 0;
    padding: 40px 0;
}

